
<h3>Users</h3>

<!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
<input class="form-control" list="datalistOptions" id="exampleDataList" 
placeholder="Type to search..." [(ngModel)]="searchTerm">


<table class="table caption-top">
    <caption>List of users</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter: searchTerm : 'firstName'; index as i">
        <th scope="row"><a [routerLink]="['/users/user-details', user.id]" 
          [queryParams]="{name: user.name, email: user.email}">{{user.id}}</a></th>
        <!-- <th scope="row"><a (click)="goToUserDetails(user)">{{user.id}}</a></th> -->
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
</table>