<!-- <p>{{text | titlecase}}</p>

<p>{{text | lowercase}}</p>

<p>{{text | uppercase }}</p>

<p> {{text | slice: -8}} </p>

<p> {{3.45 | number : '4.8'}} </p>

<p> {{user.date | date: 'short' }} </p>
<p> {{user.date | date: 'shortDate' }} </p>
<p> {{user.date | date: 'full' }} </p>
<p> {{user.date | date: 'fullDate' | uppercase }} </p>
<p> {{user.date | date: 'long' }} </p>
<p> {{user.date | date: 'longDate' }} </p>

-->


Parent Info
<hr>
<p>{{parentInfo}}  </p>
  <!-- <p>{{title}}</p> -->

  <button (click)="sendData()">send data</button>


<ul class="mt-5">
    <li *ngFor="let user of users | slice: 1: 3">
        {{user.firstName}}
    </li>
</ul> 

<h3>Users</h3>

<!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
<input class="form-control" list="datalistOptions" id="exampleDataList" 
placeholder="Type to search..." [(ngModel)]="searchTerm">


<table class="table caption-top">
    <caption>List of users</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter: searchTerm : 'firstName'; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>

    

  </table>







