<p>{{text | titlecase}}</p>

<p>{{text | lowercase}}</p>

<p>{{text | uppercase }}</p>

<p> {{text | slice: -8}} </p>

<p> {{3.45 | number : '4.8'}} </p>

<p> {{user.date | date: 'short' }} </p>
<p> {{user.date | date: 'shortDate' }} </p>
<p> {{user.date | date: 'full' }} </p>
<p> {{user.date | date: 'fullDate' | uppercase }} </p>
<p> {{user.date | date: 'long' }} </p>
<p> {{user.date | date: 'longDate' }} </p>


<ul>
    <li *ngFor="let user of users | slice: 1: 3">
        {{user.firstName}}
    </li>
</ul>







